-- CreateEnum
CREATE TYPE "ChampionClass" AS ENUM ('SCIENCE', 'SKILL', 'MYSTIC', 'COSMIC', 'TECH', 'MUTANT', 'SUPERIOR');

-- CreateEnum
CREATE TYPE "AbilityLinkType" AS ENUM ('ABILITY', 'IMMUNITY');

-- CreateEnum
CREATE TYPE "AttackType" AS ENUM ('L1', 'L2', 'L3', 'L4', 'M1', 'M2', 'H', 'S1', 'S2');

-- CreateEnum
CREATE TYPE "WarResult" AS ENUM ('WIN', 'LOSS', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "WarVideoStatus" AS ENUM ('PLANNING', 'UPLOADED', 'PUBLISHED', 'REJECTED');

-- CreateEnum
CREATE TYPE "WarStatus" AS ENUM ('PLANNING', 'FINISHED');

-- CreateEnum
CREATE TYPE "WarMapType" AS ENUM ('STANDARD', 'BIG_THING');

-- CreateEnum
CREATE TYPE "DuelStatus" AS ENUM ('ACTIVE', 'SUGGESTED', 'OUTDATED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "DuelSource" AS ENUM ('USER_SUGGESTION', 'GUIA_MTC', 'COCPIT', 'MCOCHUB');

-- CreateEnum
CREATE TYPE "BotJobStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "BotJobType" AS ENUM ('NOTIFY_WAR_VIDEO', 'DISTRIBUTE_WAR_PLAN', 'UPDATE_MEMBER_ROLES', 'NOTIFY_DEATH_VIDEO', 'DISTRIBUTE_DEFENSE_PLAN', 'LEAVE_GUILD', 'ASSIGN_SUPPORTER_ROLE');

-- CreateEnum
CREATE TYPE "QuestPlanStatus" AS ENUM ('DRAFT', 'VISIBLE', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ScheduleFrequency" AS ENUM ('daily', 'weekly', 'monthly', 'every');

-- CreateEnum
CREATE TYPE "MembershipRequestStatus" AS ENUM ('PENDING', 'ACCEPTED', 'REJECTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "MembershipRequestType" AS ENUM ('INVITE', 'REQUEST');

-- CreateTable
CREATE TABLE "AbilityCategory" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "AbilityCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ability" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "emoji" TEXT,

    CONSTRAINT "Ability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Champion" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT NOT NULL,
    "class" "ChampionClass" NOT NULL,
    "releaseDate" TIMESTAMP(3) NOT NULL,
    "obtainable" TEXT[],
    "images" JSONB NOT NULL,
    "discordEmoji" TEXT,
    "fullAbilities" JSONB NOT NULL,
    "isPlayable" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Champion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChampionPrestige" (
    "id" SERIAL NOT NULL,
    "championId" INTEGER NOT NULL,
    "rarity" INTEGER NOT NULL,
    "rank" INTEGER NOT NULL,
    "sig" INTEGER NOT NULL,
    "prestige" INTEGER NOT NULL,

    CONSTRAINT "ChampionPrestige_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Duel" (
    "id" SERIAL NOT NULL,
    "playerName" TEXT NOT NULL,
    "rank" TEXT,
    "championId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "status" "DuelStatus" NOT NULL DEFAULT 'ACTIVE',
    "submittedByDiscordId" TEXT,
    "source" "DuelSource" NOT NULL DEFAULT 'GUIA_MTC',

    CONSTRAINT "Duel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tag" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,

    CONSTRAINT "Tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChampionAbilityLink" (
    "id" SERIAL NOT NULL,
    "type" "AbilityLinkType" NOT NULL,
    "source" TEXT,
    "championId" INTEGER NOT NULL,
    "abilityId" INTEGER NOT NULL,

    CONSTRAINT "ChampionAbilityLink_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChampionAbilitySynergy" (
    "id" SERIAL NOT NULL,
    "championAbilityLinkId" INTEGER NOT NULL,
    "championId" INTEGER NOT NULL,

    CONSTRAINT "ChampionAbilitySynergy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Attack" (
    "id" SERIAL NOT NULL,
    "type" "AttackType" NOT NULL,
    "championId" INTEGER NOT NULL,

    CONSTRAINT "Attack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Hit" (
    "id" SERIAL NOT NULL,
    "properties" TEXT[],
    "attackId" INTEGER NOT NULL,

    CONSTRAINT "Hit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Schedule" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "frequency" "ScheduleFrequency" NOT NULL,
    "time" TEXT NOT NULL,
    "command" TEXT,
    "message" TEXT,
    "target_channel_id" TEXT,
    "target_user_id" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "day" TEXT,
    "interval" TEXT,
    "unit" TEXT,
    "last_run" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Schedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AQState" (
    "channelId" TEXT NOT NULL,
    "state" JSONB NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AQState_pkey" PRIMARY KEY ("channelId")
);

-- CreateTable
CREATE TABLE "BotUser" (
    "id" TEXT NOT NULL,
    "discordId" TEXT NOT NULL,
    "isBotAdmin" BOOLEAN NOT NULL DEFAULT false,
    "permissions" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "activeProfileId" TEXT,

    CONSTRAINT "BotUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Player" (
    "id" TEXT NOT NULL,
    "discordId" TEXT NOT NULL,
    "ingameName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "championPrestige" INTEGER,
    "relicPrestige" INTEGER,
    "summonerPrestige" INTEGER,
    "allianceId" TEXT,
    "isBotAdmin" BOOLEAN NOT NULL DEFAULT false,
    "timezone" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "isTrustedUploader" BOOLEAN NOT NULL DEFAULT false,
    "battlegroup" INTEGER,
    "isOfficer" BOOLEAN NOT NULL DEFAULT false,
    "avatar" TEXT,
    "botUserId" TEXT,

    CONSTRAINT "Player_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportDonation" (
    "id" TEXT NOT NULL,
    "amountMinor" INTEGER NOT NULL,
    "currency" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "stripeCheckoutSessionId" TEXT NOT NULL,
    "stripePaymentIntentId" TEXT,
    "stripeCustomerId" TEXT,
    "supporterName" TEXT,
    "supporterEmail" TEXT,
    "retentionState" TEXT NOT NULL DEFAULT 'ACTIVE',
    "anonymizedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "consentRevoked" BOOLEAN NOT NULL DEFAULT false,
    "discordId" TEXT,
    "botUserId" TEXT,
    "playerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupportDonation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrestigeLog" (
    "id" SERIAL NOT NULL,
    "summonerPrestige" INTEGER NOT NULL,
    "championPrestige" INTEGER NOT NULL,
    "relicPrestige" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "playerId" TEXT NOT NULL,

    CONSTRAINT "PrestigeLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Alliance" (
    "id" TEXT NOT NULL,
    "guildId" TEXT,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "enabledFeatureCommands" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createAqThread" BOOLEAN NOT NULL DEFAULT false,
    "battlegroup1Role" TEXT,
    "battlegroup2Role" TEXT,
    "battlegroup3Role" TEXT,
    "officerRole" TEXT,
    "canUploadFiles" BOOLEAN NOT NULL DEFAULT false,
    "warVideosChannelId" TEXT,
    "battlegroup1ChannelId" TEXT,
    "battlegroup2ChannelId" TEXT,
    "battlegroup3ChannelId" TEXT,
    "battlegroup1Color" TEXT NOT NULL DEFAULT '#ef4444',
    "battlegroup2Color" TEXT NOT NULL DEFAULT '#22c55e',
    "battlegroup3Color" TEXT NOT NULL DEFAULT '#3b82f6',
    "linkCode" TEXT,
    "linkCodeExpires" TIMESTAMP(3),
    "deathChannelId" TEXT,
    "activeDefensePlanId" TEXT,
    "removeMissingMembers" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Alliance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AllianceMembershipRequest" (
    "id" TEXT NOT NULL,
    "status" "MembershipRequestStatus" NOT NULL DEFAULT 'PENDING',
    "type" "MembershipRequestType" NOT NULL,
    "allianceId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "inviterId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AllianceMembershipRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AQReminderSettings" (
    "id" TEXT NOT NULL,
    "allianceId" TEXT NOT NULL,
    "finalReminderEnabled" BOOLEAN NOT NULL DEFAULT true,
    "section1ReminderEnabled" BOOLEAN NOT NULL DEFAULT true,
    "section2ReminderEnabled" BOOLEAN NOT NULL DEFAULT true,
    "finalPingTime" TEXT NOT NULL DEFAULT '11:00',
    "section1PingTime" TEXT NOT NULL DEFAULT '11:00',
    "section2PingTime" TEXT NOT NULL DEFAULT '18:00',

    CONSTRAINT "AQReminderSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AllianceConfig" (
    "id" TEXT NOT NULL,
    "sheetId" TEXT,
    "allianceId" TEXT NOT NULL,

    CONSTRAINT "AllianceConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AQSchedule" (
    "id" TEXT NOT NULL,
    "allianceId" TEXT NOT NULL,
    "battlegroup" INTEGER NOT NULL,
    "dayOfWeek" INTEGER NOT NULL,
    "time" TEXT NOT NULL,
    "aqDay" INTEGER NOT NULL,
    "channelId" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,

    CONSTRAINT "AQSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AQSkip" (
    "id" TEXT NOT NULL,
    "allianceId" TEXT NOT NULL,
    "skipUntil" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AQSkip_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Roster" (
    "id" TEXT NOT NULL,
    "stars" INTEGER NOT NULL,
    "rank" INTEGER NOT NULL,
    "isAwakened" BOOLEAN NOT NULL,
    "powerRating" INTEGER,
    "playerId" TEXT NOT NULL,
    "championId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isAscended" BOOLEAN NOT NULL DEFAULT false,
    "ascensionLevel" INTEGER NOT NULL DEFAULT 0,
    "sigLevel" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Roster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "War" (
    "id" TEXT NOT NULL,
    "season" INTEGER NOT NULL,
    "warNumber" INTEGER,
    "warTier" INTEGER NOT NULL,
    "enemyAlliance" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "allianceId" TEXT NOT NULL,
    "status" "WarStatus" NOT NULL DEFAULT 'PLANNING',
    "mapType" "WarMapType" NOT NULL DEFAULT 'STANDARD',
    "name" TEXT,
    "result" "WarResult" NOT NULL DEFAULT 'UNKNOWN',
    "enemyDeaths" INTEGER,

    CONSTRAINT "War_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarDefensePlan" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "mapType" "WarMapType" NOT NULL DEFAULT 'STANDARD',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "allianceId" TEXT NOT NULL,
    "tacticId" TEXT,
    "highlightTagId" INTEGER,
    "tier" INTEGER,

    CONSTRAINT "WarDefensePlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarDefensePlacement" (
    "id" TEXT NOT NULL,
    "nodeId" INTEGER NOT NULL,
    "defenderId" INTEGER,
    "playerId" TEXT,
    "planId" TEXT NOT NULL,
    "battlegroup" INTEGER NOT NULL DEFAULT 1,
    "starLevel" INTEGER,

    CONSTRAINT "WarDefensePlacement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SeasonBan" (
    "id" TEXT NOT NULL,
    "season" INTEGER NOT NULL,
    "minTier" INTEGER,
    "maxTier" INTEGER,
    "championId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SeasonBan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarBan" (
    "id" TEXT NOT NULL,
    "warId" TEXT NOT NULL,
    "championId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WarBan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarFight" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "attackerId" INTEGER,
    "defenderId" INTEGER,
    "nodeId" INTEGER NOT NULL,
    "playerId" TEXT,
    "warId" TEXT NOT NULL,
    "videoId" TEXT,
    "battlegroup" INTEGER NOT NULL,
    "death" INTEGER NOT NULL DEFAULT 0,
    "notes" TEXT,

    CONSTRAINT "WarFight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FightPrefight" (
    "id" TEXT NOT NULL,
    "warFightId" TEXT NOT NULL,
    "championId" INTEGER NOT NULL,
    "playerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FightPrefight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarExtraChampion" (
    "id" TEXT NOT NULL,
    "warId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "championId" INTEGER NOT NULL,
    "battlegroup" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WarExtraChampion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarVideo" (
    "id" TEXT NOT NULL,
    "visibility" TEXT NOT NULL DEFAULT 'public',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "submittedById" TEXT NOT NULL,
    "status" "WarVideoStatus" NOT NULL DEFAULT 'PLANNING',
    "description" TEXT,
    "gcsUrl" TEXT,
    "url" TEXT,

    CONSTRAINT "WarVideo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarNode" (
    "id" SERIAL NOT NULL,
    "nodeNumber" INTEGER NOT NULL,
    "description" TEXT,

    CONSTRAINT "WarNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NodeModifier" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "NodeModifier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarNodeAllocation" (
    "id" TEXT NOT NULL,
    "warNodeId" INTEGER NOT NULL,
    "nodeModifierId" TEXT NOT NULL,
    "minTier" INTEGER NOT NULL DEFAULT 0,
    "maxTier" INTEGER NOT NULL DEFAULT 0,
    "season" INTEGER NOT NULL DEFAULT 0,
    "mapType" "WarMapType" NOT NULL DEFAULT 'STANDARD',

    CONSTRAINT "WarNodeAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WarTactic" (
    "id" TEXT NOT NULL,
    "season" INTEGER NOT NULL,
    "minTier" INTEGER,
    "maxTier" INTEGER,
    "name" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "attackTagId" INTEGER,
    "defenseTagId" INTEGER,

    CONSTRAINT "WarTactic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UploadSession" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "fightIds" TEXT[],
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UploadSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UploadToken" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UploadToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemConfig" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemConfig_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "BotJob" (
    "id" TEXT NOT NULL,
    "type" "BotJobType" NOT NULL,
    "status" "BotJobStatus" NOT NULL DEFAULT 'PENDING',
    "payload" JSONB NOT NULL,
    "referenceId" TEXT,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BotJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestCategory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "QuestCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestPlan" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "creatorId" TEXT,
    "categoryId" TEXT,
    "minStarLevel" INTEGER,
    "maxStarLevel" INTEGER,
    "requiredClasses" "ChampionClass"[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "teamLimit" INTEGER DEFAULT 5,
    "status" "QuestPlanStatus" NOT NULL DEFAULT 'DRAFT',
    "bannerUrl" TEXT,
    "bannerFit" TEXT DEFAULT 'cover',
    "bannerPosition" TEXT DEFAULT 'center',
    "videoUrl" TEXT,

    CONSTRAINT "QuestPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestEncounter" (
    "id" TEXT NOT NULL,
    "sequence" INTEGER NOT NULL,
    "tips" TEXT,
    "minStarLevel" INTEGER,
    "maxStarLevel" INTEGER,
    "requiredClasses" "ChampionClass"[],
    "questPlanId" TEXT NOT NULL,
    "defenderId" INTEGER,
    "recommendedTags" TEXT[],
    "videoUrl" TEXT,

    CONSTRAINT "QuestEncounter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestEncounterNode" (
    "id" TEXT NOT NULL,
    "questEncounterId" TEXT NOT NULL,
    "nodeModifierId" TEXT NOT NULL,

    CONSTRAINT "QuestEncounterNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlayerQuestPlan" (
    "id" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "questPlanId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlayerQuestPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlayerQuestEncounter" (
    "id" TEXT NOT NULL,
    "playerQuestPlanId" TEXT NOT NULL,
    "questEncounterId" TEXT NOT NULL,
    "selectedChampionId" INTEGER,
    "questPlanId" TEXT NOT NULL,

    CONSTRAINT "PlayerQuestEncounter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_AbilityToAbilityCategory" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_AbilityToAbilityCategory_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_ChampionToTag" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_ChampionToTag_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_EncounterRecommendedChampions" (
    "A" INTEGER NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_EncounterRecommendedChampions_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_QuestPlanCreators" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_QuestPlanCreators_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_QuestRequiredTags" (
    "A" TEXT NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_QuestRequiredTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_EncounterRequiredTags" (
    "A" TEXT NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_EncounterRequiredTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "AbilityCategory_name_key" ON "AbilityCategory"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Ability_name_key" ON "Ability"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Champion_name_key" ON "Champion"("name");

-- CreateIndex
CREATE INDEX "ChampionPrestige_championId_idx" ON "ChampionPrestige"("championId");

-- CreateIndex
CREATE UNIQUE INDEX "ChampionPrestige_championId_rarity_rank_sig_key" ON "ChampionPrestige"("championId", "rarity", "rank", "sig");

-- CreateIndex
CREATE INDEX "Duel_championId_idx" ON "Duel"("championId");

-- CreateIndex
CREATE UNIQUE INDEX "Duel_championId_playerName_key" ON "Duel"("championId", "playerName");

-- CreateIndex
CREATE UNIQUE INDEX "Tag_name_category_key" ON "Tag"("name", "category");

-- CreateIndex
CREATE INDEX "ChampionAbilityLink_championId_idx" ON "ChampionAbilityLink"("championId");

-- CreateIndex
CREATE INDEX "ChampionAbilityLink_abilityId_idx" ON "ChampionAbilityLink"("abilityId");

-- CreateIndex
CREATE UNIQUE INDEX "ChampionAbilityLink_championId_abilityId_type_source_key" ON "ChampionAbilityLink"("championId", "abilityId", "type", "source");

-- CreateIndex
CREATE INDEX "ChampionAbilitySynergy_championAbilityLinkId_idx" ON "ChampionAbilitySynergy"("championAbilityLinkId");

-- CreateIndex
CREATE INDEX "ChampionAbilitySynergy_championId_idx" ON "ChampionAbilitySynergy"("championId");

-- CreateIndex
CREATE UNIQUE INDEX "ChampionAbilitySynergy_championAbilityLinkId_championId_key" ON "ChampionAbilitySynergy"("championAbilityLinkId", "championId");

-- CreateIndex
CREATE INDEX "Attack_championId_idx" ON "Attack"("championId");

-- CreateIndex
CREATE UNIQUE INDEX "Attack_championId_type_key" ON "Attack"("championId", "type");

-- CreateIndex
CREATE INDEX "Hit_attackId_idx" ON "Hit"("attackId");

-- CreateIndex
CREATE UNIQUE INDEX "BotUser_discordId_key" ON "BotUser"("discordId");

-- CreateIndex
CREATE INDEX "Player_discordId_idx" ON "Player"("discordId");

-- CreateIndex
CREATE INDEX "Player_allianceId_idx" ON "Player"("allianceId");

-- CreateIndex
CREATE UNIQUE INDEX "Player_discordId_ingameName_key" ON "Player"("discordId", "ingameName");

-- CreateIndex
CREATE UNIQUE INDEX "SupportDonation_stripeCheckoutSessionId_key" ON "SupportDonation"("stripeCheckoutSessionId");

-- CreateIndex
CREATE INDEX "SupportDonation_status_createdAt_idx" ON "SupportDonation"("status", "createdAt");

-- CreateIndex
CREATE INDEX "SupportDonation_playerId_createdAt_idx" ON "SupportDonation"("playerId", "createdAt");

-- CreateIndex
CREATE INDEX "SupportDonation_botUserId_createdAt_idx" ON "SupportDonation"("botUserId", "createdAt");

-- CreateIndex
CREATE INDEX "SupportDonation_discordId_createdAt_idx" ON "SupportDonation"("discordId", "createdAt");

-- CreateIndex
CREATE INDEX "SupportDonation_retentionState_anonymizedAt_deletedAt_idx" ON "SupportDonation"("retentionState", "anonymizedAt", "deletedAt");

-- CreateIndex
CREATE INDEX "PrestigeLog_playerId_idx" ON "PrestigeLog"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "Alliance_linkCode_key" ON "Alliance"("linkCode");

-- CreateIndex
CREATE UNIQUE INDEX "Alliance_activeDefensePlanId_key" ON "Alliance"("activeDefensePlanId");

-- CreateIndex
CREATE INDEX "AllianceMembershipRequest_allianceId_idx" ON "AllianceMembershipRequest"("allianceId");

-- CreateIndex
CREATE INDEX "AllianceMembershipRequest_playerId_idx" ON "AllianceMembershipRequest"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "AQReminderSettings_allianceId_key" ON "AQReminderSettings"("allianceId");

-- CreateIndex
CREATE UNIQUE INDEX "AllianceConfig_allianceId_key" ON "AllianceConfig"("allianceId");

-- CreateIndex
CREATE UNIQUE INDEX "AQSchedule_allianceId_battlegroup_aqDay_key" ON "AQSchedule"("allianceId", "battlegroup", "aqDay");

-- CreateIndex
CREATE UNIQUE INDEX "AQSkip_allianceId_key" ON "AQSkip"("allianceId");

-- CreateIndex
CREATE INDEX "Roster_playerId_idx" ON "Roster"("playerId");

-- CreateIndex
CREATE INDEX "Roster_championId_idx" ON "Roster"("championId");

-- CreateIndex
CREATE UNIQUE INDEX "Roster_playerId_championId_stars_key" ON "Roster"("playerId", "championId", "stars");

-- CreateIndex
CREATE INDEX "War_allianceId_idx" ON "War"("allianceId");

-- CreateIndex
CREATE UNIQUE INDEX "War_allianceId_season_warNumber_key" ON "War"("allianceId", "season", "warNumber");

-- CreateIndex
CREATE INDEX "WarDefensePlan_allianceId_idx" ON "WarDefensePlan"("allianceId");

-- CreateIndex
CREATE INDEX "WarDefensePlacement_planId_idx" ON "WarDefensePlacement"("planId");

-- CreateIndex
CREATE INDEX "WarDefensePlacement_playerId_idx" ON "WarDefensePlacement"("playerId");

-- CreateIndex
CREATE INDEX "WarDefensePlacement_defenderId_idx" ON "WarDefensePlacement"("defenderId");

-- CreateIndex
CREATE INDEX "WarDefensePlacement_nodeId_idx" ON "WarDefensePlacement"("nodeId");

-- CreateIndex
CREATE UNIQUE INDEX "WarDefensePlacement_planId_battlegroup_nodeId_key" ON "WarDefensePlacement"("planId", "battlegroup", "nodeId");

-- CreateIndex
CREATE UNIQUE INDEX "SeasonBan_season_minTier_maxTier_championId_key" ON "SeasonBan"("season", "minTier", "maxTier", "championId");

-- CreateIndex
CREATE INDEX "WarBan_warId_idx" ON "WarBan"("warId");

-- CreateIndex
CREATE INDEX "WarBan_championId_idx" ON "WarBan"("championId");

-- CreateIndex
CREATE INDEX "WarFight_attackerId_idx" ON "WarFight"("attackerId");

-- CreateIndex
CREATE INDEX "WarFight_defenderId_idx" ON "WarFight"("defenderId");

-- CreateIndex
CREATE INDEX "WarFight_nodeId_idx" ON "WarFight"("nodeId");

-- CreateIndex
CREATE INDEX "WarFight_playerId_idx" ON "WarFight"("playerId");

-- CreateIndex
CREATE INDEX "WarFight_warId_idx" ON "WarFight"("warId");

-- CreateIndex
CREATE INDEX "WarFight_videoId_idx" ON "WarFight"("videoId");

-- CreateIndex
CREATE INDEX "FightPrefight_warFightId_idx" ON "FightPrefight"("warFightId");

-- CreateIndex
CREATE INDEX "FightPrefight_championId_idx" ON "FightPrefight"("championId");

-- CreateIndex
CREATE INDEX "FightPrefight_playerId_idx" ON "FightPrefight"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "FightPrefight_warFightId_championId_key" ON "FightPrefight"("warFightId", "championId");

-- CreateIndex
CREATE INDEX "WarExtraChampion_warId_idx" ON "WarExtraChampion"("warId");

-- CreateIndex
CREATE INDEX "WarExtraChampion_playerId_idx" ON "WarExtraChampion"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "WarVideo_gcsUrl_key" ON "WarVideo"("gcsUrl");

-- CreateIndex
CREATE UNIQUE INDEX "WarVideo_url_key" ON "WarVideo"("url");

-- CreateIndex
CREATE INDEX "WarVideo_submittedById_idx" ON "WarVideo"("submittedById");

-- CreateIndex
CREATE UNIQUE INDEX "WarNode_nodeNumber_key" ON "WarNode"("nodeNumber");

-- CreateIndex
CREATE UNIQUE INDEX "NodeModifier_name_description_key" ON "NodeModifier"("name", "description");

-- CreateIndex
CREATE INDEX "WarNodeAllocation_warNodeId_idx" ON "WarNodeAllocation"("warNodeId");

-- CreateIndex
CREATE INDEX "WarNodeAllocation_nodeModifierId_idx" ON "WarNodeAllocation"("nodeModifierId");

-- CreateIndex
CREATE UNIQUE INDEX "WarNodeAllocation_warNodeId_nodeModifierId_minTier_maxTier__key" ON "WarNodeAllocation"("warNodeId", "nodeModifierId", "minTier", "maxTier", "season", "mapType");

-- CreateIndex
CREATE UNIQUE INDEX "WarTactic_season_minTier_maxTier_key" ON "WarTactic"("season", "minTier", "maxTier");

-- CreateIndex
CREATE UNIQUE INDEX "UploadSession_token_key" ON "UploadSession"("token");

-- CreateIndex
CREATE UNIQUE INDEX "UploadToken_token_key" ON "UploadToken"("token");

-- CreateIndex
CREATE INDEX "UploadToken_playerId_idx" ON "UploadToken"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "BotJob_type_referenceId_key" ON "BotJob"("type", "referenceId");

-- CreateIndex
CREATE UNIQUE INDEX "QuestCategory_name_key" ON "QuestCategory"("name");

-- CreateIndex
CREATE INDEX "QuestEncounter_questPlanId_idx" ON "QuestEncounter"("questPlanId");

-- CreateIndex
CREATE INDEX "QuestEncounter_defenderId_idx" ON "QuestEncounter"("defenderId");

-- CreateIndex
CREATE UNIQUE INDEX "QuestEncounter_questPlanId_sequence_key" ON "QuestEncounter"("questPlanId", "sequence");

-- CreateIndex
CREATE UNIQUE INDEX "QuestEncounter_id_questPlanId_key" ON "QuestEncounter"("id", "questPlanId");

-- CreateIndex
CREATE INDEX "QuestEncounterNode_questEncounterId_idx" ON "QuestEncounterNode"("questEncounterId");

-- CreateIndex
CREATE INDEX "QuestEncounterNode_nodeModifierId_idx" ON "QuestEncounterNode"("nodeModifierId");

-- CreateIndex
CREATE UNIQUE INDEX "QuestEncounterNode_questEncounterId_nodeModifierId_key" ON "QuestEncounterNode"("questEncounterId", "nodeModifierId");

-- CreateIndex
CREATE INDEX "PlayerQuestPlan_playerId_idx" ON "PlayerQuestPlan"("playerId");

-- CreateIndex
CREATE INDEX "PlayerQuestPlan_questPlanId_idx" ON "PlayerQuestPlan"("questPlanId");

-- CreateIndex
CREATE UNIQUE INDEX "PlayerQuestPlan_playerId_questPlanId_key" ON "PlayerQuestPlan"("playerId", "questPlanId");

-- CreateIndex
CREATE UNIQUE INDEX "PlayerQuestPlan_id_questPlanId_key" ON "PlayerQuestPlan"("id", "questPlanId");

-- CreateIndex
CREATE INDEX "PlayerQuestEncounter_playerQuestPlanId_idx" ON "PlayerQuestEncounter"("playerQuestPlanId");

-- CreateIndex
CREATE INDEX "PlayerQuestEncounter_questEncounterId_idx" ON "PlayerQuestEncounter"("questEncounterId");

-- CreateIndex
CREATE INDEX "PlayerQuestEncounter_selectedChampionId_idx" ON "PlayerQuestEncounter"("selectedChampionId");

-- CreateIndex
CREATE UNIQUE INDEX "PlayerQuestEncounter_playerQuestPlanId_questEncounterId_key" ON "PlayerQuestEncounter"("playerQuestPlanId", "questEncounterId");

-- CreateIndex
CREATE INDEX "_AbilityToAbilityCategory_B_index" ON "_AbilityToAbilityCategory"("B");

-- CreateIndex
CREATE INDEX "_ChampionToTag_B_index" ON "_ChampionToTag"("B");

-- CreateIndex
CREATE INDEX "_EncounterRecommendedChampions_B_index" ON "_EncounterRecommendedChampions"("B");

-- CreateIndex
CREATE INDEX "_QuestPlanCreators_B_index" ON "_QuestPlanCreators"("B");

-- CreateIndex
CREATE INDEX "_QuestRequiredTags_B_index" ON "_QuestRequiredTags"("B");

-- CreateIndex
CREATE INDEX "_EncounterRequiredTags_B_index" ON "_EncounterRequiredTags"("B");

-- AddForeignKey
ALTER TABLE "ChampionPrestige" ADD CONSTRAINT "ChampionPrestige_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Duel" ADD CONSTRAINT "Duel_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChampionAbilityLink" ADD CONSTRAINT "ChampionAbilityLink_abilityId_fkey" FOREIGN KEY ("abilityId") REFERENCES "Ability"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChampionAbilityLink" ADD CONSTRAINT "ChampionAbilityLink_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChampionAbilitySynergy" ADD CONSTRAINT "ChampionAbilitySynergy_championAbilityLinkId_fkey" FOREIGN KEY ("championAbilityLinkId") REFERENCES "ChampionAbilityLink"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChampionAbilitySynergy" ADD CONSTRAINT "ChampionAbilitySynergy_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attack" ADD CONSTRAINT "Attack_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Hit" ADD CONSTRAINT "Hit_attackId_fkey" FOREIGN KEY ("attackId") REFERENCES "Attack"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Player" ADD CONSTRAINT "Player_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Player" ADD CONSTRAINT "Player_botUserId_fkey" FOREIGN KEY ("botUserId") REFERENCES "BotUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportDonation" ADD CONSTRAINT "SupportDonation_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportDonation" ADD CONSTRAINT "SupportDonation_botUserId_fkey" FOREIGN KEY ("botUserId") REFERENCES "BotUser"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrestigeLog" ADD CONSTRAINT "PrestigeLog_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Alliance" ADD CONSTRAINT "Alliance_activeDefensePlanId_fkey" FOREIGN KEY ("activeDefensePlanId") REFERENCES "WarDefensePlan"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AllianceMembershipRequest" ADD CONSTRAINT "AllianceMembershipRequest_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AllianceMembershipRequest" ADD CONSTRAINT "AllianceMembershipRequest_inviterId_fkey" FOREIGN KEY ("inviterId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AllianceMembershipRequest" ADD CONSTRAINT "AllianceMembershipRequest_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AQReminderSettings" ADD CONSTRAINT "AQReminderSettings_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AllianceConfig" ADD CONSTRAINT "AllianceConfig_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AQSchedule" ADD CONSTRAINT "AQSchedule_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AQSkip" ADD CONSTRAINT "AQSkip_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Roster" ADD CONSTRAINT "Roster_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Roster" ADD CONSTRAINT "Roster_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "War" ADD CONSTRAINT "War_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlan" ADD CONSTRAINT "WarDefensePlan_allianceId_fkey" FOREIGN KEY ("allianceId") REFERENCES "Alliance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlan" ADD CONSTRAINT "WarDefensePlan_highlightTagId_fkey" FOREIGN KEY ("highlightTagId") REFERENCES "Tag"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlan" ADD CONSTRAINT "WarDefensePlan_tacticId_fkey" FOREIGN KEY ("tacticId") REFERENCES "WarTactic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlacement" ADD CONSTRAINT "WarDefensePlacement_defenderId_fkey" FOREIGN KEY ("defenderId") REFERENCES "Champion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlacement" ADD CONSTRAINT "WarDefensePlacement_nodeId_fkey" FOREIGN KEY ("nodeId") REFERENCES "WarNode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlacement" ADD CONSTRAINT "WarDefensePlacement_planId_fkey" FOREIGN KEY ("planId") REFERENCES "WarDefensePlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarDefensePlacement" ADD CONSTRAINT "WarDefensePlacement_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SeasonBan" ADD CONSTRAINT "SeasonBan_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarBan" ADD CONSTRAINT "WarBan_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarBan" ADD CONSTRAINT "WarBan_warId_fkey" FOREIGN KEY ("warId") REFERENCES "War"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_attackerId_fkey" FOREIGN KEY ("attackerId") REFERENCES "Champion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_defenderId_fkey" FOREIGN KEY ("defenderId") REFERENCES "Champion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_nodeId_fkey" FOREIGN KEY ("nodeId") REFERENCES "WarNode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_videoId_fkey" FOREIGN KEY ("videoId") REFERENCES "WarVideo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarFight" ADD CONSTRAINT "WarFight_warId_fkey" FOREIGN KEY ("warId") REFERENCES "War"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FightPrefight" ADD CONSTRAINT "FightPrefight_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FightPrefight" ADD CONSTRAINT "FightPrefight_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FightPrefight" ADD CONSTRAINT "FightPrefight_warFightId_fkey" FOREIGN KEY ("warFightId") REFERENCES "WarFight"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarExtraChampion" ADD CONSTRAINT "WarExtraChampion_championId_fkey" FOREIGN KEY ("championId") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarExtraChampion" ADD CONSTRAINT "WarExtraChampion_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarExtraChampion" ADD CONSTRAINT "WarExtraChampion_warId_fkey" FOREIGN KEY ("warId") REFERENCES "War"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarVideo" ADD CONSTRAINT "WarVideo_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES "Player"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarNodeAllocation" ADD CONSTRAINT "WarNodeAllocation_nodeModifierId_fkey" FOREIGN KEY ("nodeModifierId") REFERENCES "NodeModifier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarNodeAllocation" ADD CONSTRAINT "WarNodeAllocation_warNodeId_fkey" FOREIGN KEY ("warNodeId") REFERENCES "WarNode"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarTactic" ADD CONSTRAINT "WarTactic_attackTagId_fkey" FOREIGN KEY ("attackTagId") REFERENCES "Tag"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WarTactic" ADD CONSTRAINT "WarTactic_defenseTagId_fkey" FOREIGN KEY ("defenseTagId") REFERENCES "Tag"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UploadToken" ADD CONSTRAINT "UploadToken_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestCategory" ADD CONSTRAINT "QuestCategory_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "QuestCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestPlan" ADD CONSTRAINT "QuestPlan_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "QuestCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestPlan" ADD CONSTRAINT "QuestPlan_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestEncounter" ADD CONSTRAINT "QuestEncounter_defenderId_fkey" FOREIGN KEY ("defenderId") REFERENCES "Champion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestEncounter" ADD CONSTRAINT "QuestEncounter_questPlanId_fkey" FOREIGN KEY ("questPlanId") REFERENCES "QuestPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestEncounterNode" ADD CONSTRAINT "QuestEncounterNode_nodeModifierId_fkey" FOREIGN KEY ("nodeModifierId") REFERENCES "NodeModifier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestEncounterNode" ADD CONSTRAINT "QuestEncounterNode_questEncounterId_fkey" FOREIGN KEY ("questEncounterId") REFERENCES "QuestEncounter"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerQuestPlan" ADD CONSTRAINT "PlayerQuestPlan_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerQuestPlan" ADD CONSTRAINT "PlayerQuestPlan_questPlanId_fkey" FOREIGN KEY ("questPlanId") REFERENCES "QuestPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerQuestEncounter" ADD CONSTRAINT "PlayerQuestEncounter_playerQuestPlanId_questPlanId_fkey" FOREIGN KEY ("playerQuestPlanId", "questPlanId") REFERENCES "PlayerQuestPlan"("id", "questPlanId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerQuestEncounter" ADD CONSTRAINT "PlayerQuestEncounter_questEncounterId_questPlanId_fkey" FOREIGN KEY ("questEncounterId", "questPlanId") REFERENCES "QuestEncounter"("id", "questPlanId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlayerQuestEncounter" ADD CONSTRAINT "PlayerQuestEncounter_selectedChampionId_fkey" FOREIGN KEY ("selectedChampionId") REFERENCES "Champion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AbilityToAbilityCategory" ADD CONSTRAINT "_AbilityToAbilityCategory_A_fkey" FOREIGN KEY ("A") REFERENCES "Ability"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AbilityToAbilityCategory" ADD CONSTRAINT "_AbilityToAbilityCategory_B_fkey" FOREIGN KEY ("B") REFERENCES "AbilityCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ChampionToTag" ADD CONSTRAINT "_ChampionToTag_A_fkey" FOREIGN KEY ("A") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ChampionToTag" ADD CONSTRAINT "_ChampionToTag_B_fkey" FOREIGN KEY ("B") REFERENCES "Tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EncounterRecommendedChampions" ADD CONSTRAINT "_EncounterRecommendedChampions_A_fkey" FOREIGN KEY ("A") REFERENCES "Champion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EncounterRecommendedChampions" ADD CONSTRAINT "_EncounterRecommendedChampions_B_fkey" FOREIGN KEY ("B") REFERENCES "QuestEncounter"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_QuestPlanCreators" ADD CONSTRAINT "_QuestPlanCreators_A_fkey" FOREIGN KEY ("A") REFERENCES "BotUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_QuestPlanCreators" ADD CONSTRAINT "_QuestPlanCreators_B_fkey" FOREIGN KEY ("B") REFERENCES "QuestPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_QuestRequiredTags" ADD CONSTRAINT "_QuestRequiredTags_A_fkey" FOREIGN KEY ("A") REFERENCES "QuestPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_QuestRequiredTags" ADD CONSTRAINT "_QuestRequiredTags_B_fkey" FOREIGN KEY ("B") REFERENCES "Tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EncounterRequiredTags" ADD CONSTRAINT "_EncounterRequiredTags_A_fkey" FOREIGN KEY ("A") REFERENCES "QuestEncounter"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EncounterRequiredTags" ADD CONSTRAINT "_EncounterRequiredTags_B_fkey" FOREIGN KEY ("B") REFERENCES "Tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

